/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*================
Admin topNav
 ================*/

 body{
   margin: 0;
   background-color: #F4F3EF;
 }

 .current-section{
   position: relative;
   top: 2px;
   left: -1000px;
 }

.setting-cog{
  position: relative;
  top: 25px;
  height: 15px;
}

/*==============
Admin sideNav
===============*/
.title-logo{
  position: relative;
  right: -30px;
  height: 35px;
  top: 20px;
}

.title{
  position:relative;
  right: -75px;
  top: -40px;
  width: 50%;
}

hr{
  position: relative;
  top: -54px;
  width: 85%;
  border: 1px solid #E5E4E3;
}

.menu-list{
  position: relative;
  top: -50px;
}

.arrows{
  height:40px;
  left:228px;
  color:blue;
  -webkit-transform: rotate(30deg);
}
