.signup-form{
  position: absolute;
  display: block;
  margin: auto;
  top: -100px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;

  .signup-email{
    height:30px;
    width: 200%;
    border: 0;
    border-bottom: 1px solid #86888B;
    outline: 0;
    background: transparent;
    color: white;

   &:focus{
     color: white;
     border-bottom: 2px solid white;
     -webkit-text-fill-color: white;
   }
  }

  .signup-password{
    height:30px;
    width: 200%;
    border: 0;
    border-bottom: 1px solid #86888B;
    outline: 0;
    background: transparent;
    color: white;

   &:focus{
     color: white;
     border-bottom: 2px solid white;
     -webkit-text-fill-color: white;
   }
  }

  .signup-confirmpassword{
    height:30px;
    width: 200%;
    border: 0;
    border-bottom: 1px solid #86888B;
    outline: 0;
    background: transparent;
    color: white;

   &:focus{
     color: white;
     border-bottom: 2px solid white;
     -webkit-text-fill-color: white;
   }
  }

  .signup-button{
   background-color: #4CAF50; 
   border: none;
   color: white;
   padding: 10px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   width:200px;
  }
}
